$baseFont1: 'IBM Plex Serif';
$baseFont2: 'Open Sans';
$baseFont3: 'Source Sans Pro';

$baseFontFamily1: serif;
$baseFontFamily2: sans-serif;

$accentColor1: #6555D0;
$accentColor2: #4534BA;
$accentColor3: #3625A9;
$accentColor4: #30209C;
$accentColor5: #261789;
$accentColor6: #21137F;

$greyColor1: #10161C;
$greyColor2: #181E29;
$greyColor3: #646C75;
$greyColor4: #8E959E;
$greyColor5: #B0B8BF;
$greyColor6: #DADDE0;
$greyColor7: #F0F2F5;
$greyColor8: #FAFAFA;
$greyColor9: #FFFFFF;

